button {
    height: 100%;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--white);
    background-color: var(--black);
    padding: 0em 1em 0em 1em;
}

button:hover {
    background-color: var(--orange-web);
    cursor: pointer;
}