<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Em construção
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content>
        <div class="vertical-form-field">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <button mat-raised-button color="accent" routerLink="/admin-area">Login</button>
        </div>
    </mat-card-content>
</mat-card>
